<div>

<div id="question_list_container">
  <% if logged_in?%>
    <div id='question_container'><button id="new_question_button">Ask away!</button></div>
  <% end %>
  <ul>
    <% @questions.reverse.each do |question| %>
      <h3><a href='/questions/<%= question.id %>'><%= question.title %></h3></a>
      <li>Asked by <a href="/users/<%= question.user.id %>" id="name"><%=question.user.username%></a> on <%= question.created_at %>
      <%if question.user == current_user%>
      <a href="/questions/<%=question.id%>/edit">Edit Question</a>
      <%end%>
      </li>
      <hr>
    <% end %>
  </ul>
</div>

</div>