<h1><%=@question.title%></h1>
<h3><%=@question.body%></h3>
<div><%=@question.user.username%></div>
<div><%=@question.created_at%></div>
<%= erb :'votes/_vote_container', layout: false, locals: {question: @question} %>
<br><br>

<h2><a href="/questions/<%=@question.id%>/answers/new">Post Your Answer</a></h2>
<hr>

<% if @question.best_answer %>
  <h4>Top answer:</h4>
  <h3><%= @question.best_answer.body %></h3>
  <h4><a href="/answers/<%=@question.best_answer.id%>/comments/new">Add comment</a></h4>
  <br>
  <%@question.best_answer.comments.each do |comment|%>
  <li><%=comment.body%></li>
  <li><%=comment.user.username%></li>
  <%end%>
<% end %>
<hr>

<!-- print in order of upvotes -->
<%@question.answers.reverse.each do |answer|%>
  <% if !answer.is_best? %>
    <div><%= answer.body %></div>
    <%if answer.user == current_user%>
     <form id="new_question_form" class="center hidden" method='post' action='/questions/<%=@question.id%>'>
      <input type="hidden" name="_method" value="delete">
      <input type="submit" class="button" value="Delete"></input>
      </form>

      <%end%>
  	<h4><a href="/answers/<%=answer.id%>/comments/new">Add comment</a></h4>
    <br>
    <%answer.comments.each do |comment|%>
      <li><%=comment.body%></li>
      <li><%=comment.user.username%></li>

    <%end%>
    <hr>
  <% end %>
<% end %>
