<h1><%=@question.title%></h1>
<h3><%=@question.body%></h3>
<div><%=@question.user.username%></div>
<div><%=@question.created_at%></div>
<h4><a href="/questions/<%=@question.id%>/answers/new">Post Your Answer</a></h4>
<%= erb :'votes/_vote_container', layout: false, locals: {question: @question} %>

<br><br>
<% if @question.best_answer %>
  <h4>Top answer:</h4>
  <h2><%= @question.best_answer.body %></h2>
  <h4><a href="/answers/<%=@question.best_answer.id%>/comments/new">Add comment</a></h4>
  <%@question.best_answer.comments.each do |comment|%>
  <li><%=comment.body%></li>
  <li><%=comment.user.username%></li>
  <%end%>
<% end %>

<!-- print in order of upvotes -->
<%@question.answers.reverse.each do |answer|%>
  <% if !answer.is_best? %>
    <div><%= answer.body %></div>
  	<h4><a href="/answers/<%=answer.id%>/comments/new">Add comment</a></h4>
    <%answer.comments.each do |comment|%>
      <li><%=comment.body%></li>
      <li><%=comment.user.username%></li>
    <%end%>
  <% end %>
<% end %>
