<h2> <%=@user.username%> </h2>

<h3> Your Questions </h3>

<ul>
  <% @user.questions.each do |question| %>
    <li> <%= question.title %> </li>
  <% end %>
</ul>

<h3> Your Answers </h3>

<ul>
  <% @user.answers.each do |answer| %>
    <li>
      <div>"<%= answer.body %>"</div>
      <div>-<%= answer.user.username %></div>
      <div>"<%= answer.question.title %>"</div>
      <div>-<%= answer.question.user.username %></div>
    </li>
  <% end %>
</ul>
